[Desktop Entry]
Type=Application
Name=Mirror Screens
Icon=preferences-desktop-display
Exec=/usr/local/bin/mirror-screens
GenericName=Make other screens mirror the primary
